body {
    background-image: url('https://i.ibb.co/M10XZ1r/Screen-Shot-2020-11-12-at-1-23-19-PM.png');
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: cover;
}